html {
    height: 100%;
}
body {
    margin: 0 auto;
    background-color: antiquewhite;
}
p {
    padding: 5px;
    margin: 5px;
    width: 130px;
    text-align: center;
}
.details {
    text-align: left;
    width: 200px;
}
div {
    display: block;
    height: 300px;
}
#spiderList {
    display: flex;
    flex-wrap: wrap; 
    align-items: center;
    width: 50%;
    height: 90%;
    overflow: auto;
}
img {
    width: 150px;
    height: 221px;
}
.displayImg {
    width: 200px;
    height: 294px;
}
button {
    width: 95px;
}
#featSpider {
    float: right;
    position: relative;
    top: -400px;
}
