.nav{
    background-color: rgb(97, 95, 95);
    display: flex;
}
.title {
    font-size: 25px;
    margin-bottom: 0px;
    color: white;
}
a {
    color: white;
}
a:hover {
    color: rgb(18, 188, 240);
}
.jumbotron {
    padding: 50px;
    margin: 50px 50px 50px 50px;
    border: groove;
}
.line {
    break-after: auto;
}
.content {
    padding: 25px;
    margin: -15px 25px 25px 25px;
}
h2 {
    margin-top: 20px;
}
.card {
    display: -webkit-inline-box;
    margin: 25px 25px 25px 25px;
    background-color: lightgrey;
}
.card-body {
    margin: 10px 10px 10px 10px;
    width: 140px;
}

@media (max-width: 480px) {
    .nav {
        display: flex;
        flex-direction: column;
    }
}